@import '../../../assets/vars.scss';

.ContextMenu {
  /*
    z-index values will likely need overriding and managing in a host application.
  */
  $menu-z-index: 10;

  background-color: #fff;
  border: $dim-input-border-width solid $col-neutral-mid;
  box-sizing: border-box;
  left: 0;
  margin-top: 5px;
  position: absolute;  
  width: 100%;
  z-index: $menu-z-index;

  &__overlay {
    z-index: $menu-z-index - 1;
  }
}